.time {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  &__clock {
    text-align: center;
    font-size: 100px;

    @media screen and (max-width: 450px) {
      font-size: 60px;
    }
  }

  &__date {
    text-align: center;

    @media screen and (max-width: 450px) {
      font-size: 30px;
    }
  }

  &__your {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
  }
}
